# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*$py.class

# ===============================
# Virtual Environment
# ===============================
venv/
.env

# ===============================
# Python build / dist
# ===============================
build/
dist/
*.egg-info/

# ===============================
# Pytest / coverage
# ===============================
.pytest_cache/
.coverage
htmlcov/

# ===============================
# IDE / Editor
# ===============================
.vscode/
.idea/

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db
